<ng-include src="'views/navbar.html'"></ng-include>
<div class="container" ng-controller="TicketsController">
    <h1>Lista zgłoszeń</h1>
    <table class="table table-hover table-striped">
        <thead>
            <tr>
                <th class="col-sm-1" ng-click="order('id')">ID</th>
                <th class="col-sm-2" ng-click="order('createdAt')">Data</th>
                <th class="col-sm-7" ng-click="order('summary')">Tytuł zgłoszenia</th>
                <th class="col-sm-2" ng-click="order('status')">Status</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="ticket in tickets | orderBy:predicate:reverse" ng-click="show(ticket.id)">
                <td>{{ticket.id}}</td>
                <td>{{ticket.createdAt}}</td>
                <td>{{ticket.summary}}</td>
                <td>{{ticket.status}}</td>
            </tr>
        </tbody>
    </table>
</div>
