<ng-include src="'views/navbar.html'"></ng-include>
<div class="container" ng-controller="TicketsController">
    <h1>Lista zgłoszeń</h1>
    <table class="table table-hover table-striped">
        <thead>
            <tr>
                <th class="col-sm-1">ID</th>
                <th class="col-sm-2">Data</th>
                <th class="col-sm-7">Tytuł zgłoszenia</th>
                <th class="col-sm-2">Status</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="ticket in tickets">
                <td>{{ticket.id}}</td>
                <td>{{ticket.createdAt}}</td>
                <td>{{ticket.summary}}</td>
                <td>{{ticket.status}}</td>
            </tr>
        </tbody>
    </table>
</div>
